html, body {
	font-family: Arial;
	font-size: max(16pt, 3vh);
	
	color: white;
	margin: 0;
	
	width: 100%;
	height: 100%;
	overflow: hidden;
}

::selection {
	background-color: #C3FF00;
}

body {
	background: linear-gradient(135deg, #FF4E8B, #FF9741);
}

div {
	margin-left: 20px;
}

a:link {
	color: White;
	text-decoration: none;
	transition: linear 0.2s;
	text-shadow:
		1.5px 0px 1.5px Black,
		1.5px 1.5px 1.5px Black,
		0px 1.5px 1.5px Black,
		-1.5px 1.5px 1.5px Black,
		-1.5px 0px 1.5px Black,
		-1.5px -1.5px 1.5px Black,
		0px -1.5px 1.5px Black,
		1.5px -1.5px 1.5px Black;
}
a:visited {
	color: White;
}
a:hover {
	letter-spacing: 6px;
	color: #808080;
	font-style: italic;
}

#mike {
	display: inline-block;
	color: #00FFFF;
	text-shadow: none;
	transition: transform ease-in 0.2s;
	
}
#mike:hover {
	letter-spacing: 0;
	background-color: #00FFFF;
	color: White;
	font-style: normal;
	transform: translate(0, 100%) scale(1, 4);
}