@font-face {
	font-family: PressStart2P;
	src: url("/assets/PressStart2P-Regular.ttf") format("truetype");
}
html {
	width: 100%;
	height: 100%;
	margin: 0;
}

@keyframes background {
	from {
		background-position: 0 0;
	}
	to {
		background-position: calc(-100vh * 64 / 9) 0;
	}
}
body {
	font-family: PressStart2P;
	font-size: 12pt;
	
	color: white;
	margin: 0;
	
	width: 100%;
	height: 100%;
	
	background: url("/assets/background.png");
	background-size: auto 100%;
	background-repeat: repeat-x;
    background-position: center center;
	background-color: black;
	text-align: center;
	
	animation: 16s linear infinite background;
}

/*@keyframes background1 {
	from {
		transform: translate(calc(50vw - 50%), 0);
	}
	to {
		transform: translate(calc(50vw - 150%), 0);
	}
}
@keyframes background2 {
	from {
		transform: translate(calc(50vw + 50%), 0);
	}
	to {
		transform: translate(calc(50vw - 50%), 0);
	}
}
#background1 {
	position: absolute;
	height: 100%;
	aspect-ratio: 3840 / 1080;
	background: url("/assets/background.png");
	background-size: cover;
	background-repeat: repeat-x;
	background-position: center center;
	
	animation: 8s linear infinite background1;
}
#background2 {
	position: absolute;
	height: 100%;
	aspect-ratio: 3840 / 1080;
	background: url("/assets/background.png");
	background-size: cover;
	background-repeat: repeat-x;
	background-position: center center;
	
	animation: 8s linear infinite background2;
}*/

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 40px;
	width: 1000px;
}
.site-container {
	flex: 0 0 auto;
	
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	
	margin: 10px;
	
	width: 200px;
	height: 250px;
	
	color: white;
	text-decoration: none;
	user-select: none;
	transition: 0.4s;
}
.site-container:hover {
	transform: scale(1.1, 1.1);
}
.site-container p, .site-container h2 {
	z-index: 1;
}

/*.site-container img {
	position: absolute;
	width: 100%;
	height: 100%;
	filter: grayscale(75%) brightness(30%);
	transition: 0.4s;
	border-radius: 18px;
}
.site-container:hover img {
	filter: grayscale(25%) brightness(70%);
}*/
.site-container p {
	font-size: 12pt;
	line-height: 1.1;
}
.site-container span {
	font-size: 22pt;
}
.site-container h2 {
	font-size: 16pt;
	line-height: 1.1;
}

.rgb-container {
	position: absolute;
	inset: 0;
	isolation: isolate;
}
.rgb-container div {
	position: absolute;
	inset: 0;
	mix-blend-mode: screen;
	transition: transform 0.4s;
	border-radius: 18px;
	transform: translate(0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
}
.r {
	background-color: #FF0000;
	isolation: isolate;
	border: 3px solid #FF0000;
	color: #FF0000;
}
.gb {
	background-color: #00FFFF;
	isolation: isolate;
	border: 3px solid #00FFFF;
	color: #00FFFF;
}
.rgb-container img {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 18px;
	mix-blend-mode: multiply;
	filter: grayscale(75%) brightness(30%);
	transition: filter 0.4s;
}
.rgb-container p {
	mix-blend-mode: screen;
}

@keyframes sway {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(4px, 4px);
	}
}
@keyframes sway2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-4px, -4px);
	}
}

*:hover > .rgb-container .r {
	animation: 0.5s ease-in-out 0s infinite alternate sway;
}
*:hover > .rgb-container .gb {
	animation: 1s ease-in-out infinite alternate sway2;
}
*:hover > .rgb-container img {
	filter: grayscale(15%) brightness(70%);
}

#mike {
	display: inline-block;
	color: #00FFFF;
	text-shadow: none;
	transition: transform ease-in 0.2s;
	
}
#mike:hover {
	letter-spacing: 0;
	background-color: #00FFFF;
	color: White;
	font-style: normal;
	transform: translate(0, 100%) scale(1, 4);
}