@font-face {
	font-family: Tungsten-Bold;
	src: url("/valorant/Tungsten-Bold.otf") format("opentype");
}
/*@keyframes back {
	0% { background-position: 0% 0%; }
	25% { background-position: 0% -100%; }
	50% { background-position: -100% -100%; }
	75% { background-position: -100% 0%; }
	100% { background-position: 0% 0%; }
}*/
/*html {
	height: 100%;
	animation: back 10s linear infinite;
	background-size: 200% 200%;
	/*background-position: 0% 0%;
	background-image: radial-gradient(circle at top left, #55384B 0, white 100%);
}*/
html, body {
	font-family: Tungsten-Bold, Arial;
	font-size: xx-large;
	margin: auto;
	text-align: center;
	background-color: #55384B;
	
	color: #ECE8E1;
	text-rendering: optimizeLegibility;
}
div {
	width: 80%;
	margin: auto;
}
h1, p, button {
	margin-top: 40px;
	margin-bottom: 0;
}
button {
	font-family: Tungsten-Bold, Arial;
	font-size: xx-large;
	background-color: transparent;
	color: #ECE8E1;
	transition: 0.5s;
	
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
label, button:hover {
	cursor: pointer;
	border-color: #ECE8E1;
}
#input {
	display: flex;
}
#input div {
	display: flex;
}
input[type="radio"] {
	margin: auto;
	display: none;
}
input[type="radio"]:checked+label {
	color: #FF4558;
	border-bottom: 2px solid #FF4558;
}
label {
	border-bottom: 2px solid transparent;
	margin: auto;
	font-size: 36pt;
	transition: 0.2s;
}
label {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#output-title {
	font-size: 80pt;
	color: #FF4558;
	text-transform: uppercase;
}
@keyframes click {
	0% { opacity: 0; transform: translate(0, 60px); }
	100% { opacity: 1; }
}
#output {
	display: inline-block;
	font-size: 60pt;
	animation: click 1s ease;
}