body {
	font-family: Tungsten-Bold, sans-serif;
	font-size: 2.1vw;
	
	color: #ECE8E1;
	
	text-align: center;
	background-color: #101A24;
	
    margin: 20px;
}
p, h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}
h1 {
	font-family: Valorant;
	font-size: 2em;
}

#container {
	margin: auto;
	display: flex;
}
#container h2 {
	background-color: #FF4655BB;
	border: 2px solid #FF4655;
	border-radius: 2px;
	font-size: 1.5em;
}
.category {
	margin: 4px;
	flex: 1;
}
.category h2 {
	user-select: none;
	margin-bottom: 6px;
}
.agent-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.agent-container {
	margin: 2px;
	width: fit-content;
	background: linear-gradient(#101A24, #1d4f48);
	padding: 0.12em;
	border: 1px solid #47FFBF;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
	transition: transform 0.1s;
	font-size: 1em;
}
.agent-container:hover {
	border: 1px solid #ECE8E1;
}
.agent-container:hover:not(.agent-container-off) {
	transform: scale(1.2, 1.2);
	z-index: 1;
}
.agent-container h3 {
	color: #ECE8E1;
	font-size: 0.83em;
	padding: 0.06em;
	text-transform: uppercase;
}
.agent-container img {
	width: 1.875em;
	background: linear-gradient(#1A222D, #2F3942);
}
.agent-container-off {
	background: linear-gradient(#1A222D, #47242f);
	border: 1px solid #FF4655;
	opacity: 50%;
}
.random-hover {
	border: 1px solid #FF0000;
}
.hover-add.agent-container-off {
	background: linear-gradient(#101A24, #1d4f48);
	border: 1px solid #47FFBF;
	opacity: 75%;
}
.hover-remove:not(.agent-container-off) {
	background: linear-gradient(#1A222D, #47242f);
	border: 1px solid #FF4655;
	opacity: 75%;
}

button {
	font-family: Tungsten-Bold, sans-serif;
	font-size: 1.16em;
	color: #ECE8E1;
	
	margin: 0 auto;
	
	padding: 0.2em 1.5em;
	background-color: transparent;
	background: linear-gradient(#101A24, #1d4f48);
	border: 2px solid #ECE8E1;
	border-radius: 4px;
	
	transition: 0.2s;
	box-shadow: 0px 0px 0px black;
	
	user-select: none;
}
button:hover {
	cursor: pointer;
	box-shadow: 0px 0px 12px black;
	transform: scale(1.1, 1.1);
	z-index: 1;
}
#add-all, #random-all-roles, #remove-all {
	margin: 0.6em;
}
.small-button {
	width: 8em;
	padding: 0.14em 1em;
	font-size: 1em;
}
.small-button:hover {
	transform: scale(1.2, 1.2);
}
#add-all {
	border: 3px solid #47FFBF;
}
#remove-all {
	border: 3px solid #FF4655;
}
#add-all:hover {
	background: 0;
	background-color: #47FFBF;
	text-shadow: 0px 0px 3px Black;
}
#remove-all:hover {
	background: 0;
	background-color: #FF4655;
}

#reveal-zone {
	position: fixed;
	margin: 0;
	inset: 0;
	background-color: #0000007F;
	backdrop-filter: blur(4px);
	display: flex;
	z-index: 2;
}
#reveal-zone div {
	width: 100%;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.45s;
}
#reveal-zone img {
	border: 3px solid White;
	border-radius: 3px;
	width: 8em;
}
#reveal-zone h2 {
	text-align: center;

}
#keep, #remove {
	cursor: pointer;
	user-select: none;
}
#keep:hover {
	background-color: #47FFBF67;
	
}
#remove:hover {
	background-color: #FF465567;
}

hr {
	background-color: white;
	height: 1px;
	width: 100%;
}

.hidden {
	display: none !important;
}

.category-toggle {
	position: relative;
	width: 45px;
	height: 23px;
	cursor: pointer;
	margin: 2px auto;
}
.category-toggle * {
	display: block;
	position: absolute;
	inset: 0;
}
.category-toggle input {
	appearance: none;
	margin: 0;
	cursor: pointer;
}
.category-toggle div {
	pointer-events: none;
}
.category-toggle-border {
	background-color: #ECE8E3;
	clip-path: path("M 11.25 0 L 0 11.5 L 11.25 23 L 33.75 23 L 45 11.5 L 33.75 0 L 11.25 0 z  M 12.716797 1.5 L 32.283203 1.5 L 42.064453 11.5 L 32.283203 21.5 L 12.716797 21.5 L 2.9355469 11.5 L 12.716797 1.5 z");
}
.category-toggle-button {
	background-color: #6D7D85;
	clip-path: path("m 5,11.499999 7.45703,-7.4570295 7.457029,7.4570295 -7.457031,7.457032 z");
	transition: transform 0.15s, background-color 0.15s;
}

.category-toggle input:hover ~ .category-toggle-border {
	background-color: #47FFBF;
}
.category-toggle input:checked ~ .category-toggle-button {
	background-color: #47FFBF;
	transform: translateX(20.086px);
}

@media (max-aspect-ratio: 1.2) {
	body {
		font-size: 6vw;
	}
	#container {
		flex-direction: column;
	}
}