@font-face {
	font-family: Tungsten-Bold;
	src: url("/valorant/Tungsten-Bold.otf") format("opentype");
}
@font-face {
	font-family: Valorant;
	src: url("/valorant/Valorant.ttf") format("truetype");
}
@font-face {
	font-family: Simpact;
	src: local("Impact");
	size-adjust: 85%;
}

html, body {
	font-family: Tungsten-Bold, Simpact;
	font-size: 24pt;
	
	color: #ECE8E1;
	
	margin: auto;
	text-align: center;
	background-color: #101A24;
}
body {
    margin: 20px;
}
div {
	width: 100%;
}
p, h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}
h1 {
	font-family: Valorant;
}

#container {
	margin: auto;
	display: flex;
	max-width: 1400px;
}
#container h2 {
	background-color: #FF4655BB;
	border: 2px solid #FF4655;
	border-radius: 2px;
}
.category {
	display: flex;
	flex-direction: row;
	flex-flow: column;
	height: 100%;
	margin: 4px;
}
.category h2 {
	user-select: none;
	margin-bottom: 10px;
}
.agent-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.agent-container {
	margin: 2px;
	width: fit-content;
	/*background-color: #47FFBF3A;*/
	background: linear-gradient(transparent, #47FFBF3A);
	padding: 4px;
	border: 1px solid #47FFBF;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
}
.agent-container:hover {
	border: 1px solid White;
}
.agent-container h3 {
	color: #ECE8E1;
	font-size: 20pt;
	padding: 2px;
	text-transform: uppercase;
}
.agent-container img {
	width: 60px;
	background: linear-gradient(#1A222D, #2F3942);
}
.agent-container-off {
	background: linear-gradient(transparent, #FF46553A);
	border: 1px solid #FF4655;
	opacity: 50%;
}

button {
	font-family: Tungsten-Bold, Simpact;
	font-size: 28pt;
	color: #ECE8E1;
	
	margin: 0 auto;
	
	width: 260px;
	height: 60px;
	/*background-color: transparent;*/
	background: linear-gradient(#47FFBF1A, #47FFBF4A);
	border: 2px solid #47FFBF;
	border-radius: 4px;
	
	transition: 0.2s;
	box-shadow: 0px 0px 0px black;
}
button:hover {
	letter-spacing: 2px;
	cursor: pointer;
	box-shadow: 0px 0px 12px black;
	border: 2px solid White;
}

#reveal-zone {
	position: fixed;
	margin: 0;
	inset: 0;
	background-color: #0000007F;
	backdrop-filter: blur(4px);
	display: flex;
}
#reveal-zone div {
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.45s;
}
#reveal-zone img {
	border: 3px solid White;
	border-radius: 3px;
}
#reveal-zone h2 {
	text-align: center;

}
#keep, #remove {
	cursor: pointer;
	user-select: none;
}
#keep:hover {
	background-color: #47FFBF67;
	
}
#remove:hover {
	background-color: #FF465567;
}

hr {
	background-color: white;
	height: 1px;
	width: 100%;
}

.hidden {
	display: none !important;
}