@font-face {
	font-family: Tungsten-Bold;
	src: url("/valorant/Tungsten-Bold.otf") format("opentype");
}
@font-face {
	font-family: Valorant;
	src: url("/valorant/Valorant.ttf") format("truetype");
}
@font-face {
	font-family: Simpact;
	src: local("Impact");
	size-adjust: 85%;
}

html, body {
	font-family: Tungsten-Bold, Simpact;
	font-size: max(24pt, 6vh);
	background-color: #101A24;
	color: #ECE8E1;
	margin: 0;
	margin-left: 36px;
	height: 100%;
	white-space: nowrap;
}
h1 {
	margin-top: 40px;
	margin-bottom: 0;
	font-family: Valorant;
	font-weight: normal;
	font-size: max(48pt, 12vh);
}

div {
	margin-left: 40px;
	margin-bottom: 6px;
}

div a {
	letter-spacing: 1px;
	position: relative;
	color: #ECE8E1;
	font-style: normal;
	text-decoration: none;
	
	transition: 0.2s;
	text-transform: uppercase;
}
div a:hover {
	color: #FF4655;
}
div a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #FF4655;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.2s ease-out;
}
div a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}