@font-face {
	font-family: Tungsten-Bold;
	src: url("/valorant/Tungsten-Bold.otf") format("opentype");
}

html, body {
	font-family: Tungsten-Bold, Arial;
	font-size: 4vh;
	background-color: #55384B;
	color: #ECE8E1;
	margin: 0;
	margin-left: 20px;
	height: 100%;
}
h1 {
	margin-bottom: 0;
}

div {
	margin-left: 20px;
}

a {
	color: #ECE8E1;
	font-style: italic;
	text-decoration: none;
	transition: 0.2s;
}
a:hover {
	color: #FF4558;
}