@font-face {
	font-family: 'Overwatch';
	src: url('/overwatch/assets/bignoodletoo.woff2') format('woff2');
}

html, body {
	font-family: 'Overwatch', sans-serif;
	font-size: 24pt;
	font-style: italic;
	margin: auto;
	text-align: center;
	background-color: #55384B;
	color: #ECE8E1;
}
body {
    margin: 20px;
}
div {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
p, h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 0;
}

#container {
	margin: auto;
	display: flex;
	max-width: 1400px;
}
#container h2 {
	background-color: #47FFBF3A;
	border: 1px solid #47FFBF;
}
#container p {
	background-color: #FFFFFF19;
	margin-top: 8px;
	margin-bottom: 8px;
	/*border: 1px solid #FFFFFF;*/
}
.category {
	display: flex;
	flex-direction: row;
	flex-flow: column;
	height: 100%;
	margin: 0;
}
.category p, h2 {
	user-select: none;
}
.hero-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.hero-container {
	margin: 2px;
	width: fit-content;
	background-color: white;
	padding: 4px;
	border-radius: 4px;
	cursor: pointer;
}
.hero-container * {
	user-select: none;
}
.hero-container h3 {
	color: Black;
	font-size: 20pt;
	font-weight: normal;
}
.hero-container img {
	width: 60px;
	background-color: #C8DDF8;
}

@keyframes click {
	0% { color: black; }
	100% { color: #ECE8E1; }
}
#output {
	animation: click 0.5s linear;
	font-size: 64pt;
}
button {
	font-family: 'Overwatch', sans-serif;
	color: Black;
	width: 260px;
	height: 60px;
	background-color: White;
	border: 0;
	border-radius: 4px;
	outline-offset: 8px;
	font-weight: normal;
	font-size: 28pt;
	font-style: italic;
	transition: 0.2s;
	box-shadow: 2px 0px 0px black;
}
button:hover {
	letter-spacing: 2px;
	cursor: pointer;
	color: #333;
	box-shadow: 0px 0px 12px black;
}

#reveal-zone {
	position: fixed;
	margin: 0;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: #0000007F;
	backdrop-filter: blur(4px);
	display: flex;
}
#reveal-zone div {
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.5s;
}
#reveal-zone div img {
	display: block;
}
#reveal-zone div h2 {
	text-align: center;

}
hr {
	background-color: white;
	height: 1px;
	width: 100%;
}
.hidden {
	display: none !important;
}

#keep:hover {
	background-color: #00FF003F;
}
#remove:hover {
	background-color: #FF00003F;
}