@font-face {
	font-family: 'Overwatch';
	src: url('/overwatch/assets/bignoodletoo.woff2') format('woff2');
}
@font-face {
	font-family: 'Bank-Sans';
	src: url('/overwatch/assets/BankSans.otf') format('opentype');
}

body {
	background: linear-gradient(#1D4068 0%, #525F6D 45%, #525F6D 55%, #112F51 100%);
	background-repeat: no-repeat;
	background-color: #112F51;
}
html, body {
	font-family: 'Overwatch', sans-serif;
	font-size: 24pt;
	font-style: italic;
	
	color: White;
	
	margin: auto;
	text-align: center;
}
body {
    margin: 20px;
}
div {
	width: 100%;
}

p, h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 0;
}
h1 {
	font-family: Bank-Sans, serif;
	font-style: normal;
	font-size: 36pt;
	margin-bottom: 12px;
}

#container {
	margin: auto;
	display: flex;
	max-width: 1400px;
}
#container h2 {
	background-color: #ED6516;
	border-radius: 4px;
}
.category {
	display: flex;
	flex-direction: row;
	flex-flow: column;
	height: 100%;
	margin: 4px;
}
.category h2 {
	user-select: none;
	margin-bottom: 10px;
}
.hero-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.hero-container {
	margin: 2px;
	width: fit-content;
	background-color: white;
	padding: 4px;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
	box-shadow: 0px 0px 4px black;
	transition: transform 0.1s;
}
.hero-container:hover {
	transform: scale(1.1, 1.1);
	z-index: 1;
}
.hero-container:focus-visible {
	outline: 2px solid #ED6516;
}
.hero-container h3 {
	color: Black;
	font-size: 20pt;
	font-weight: normal;
	padding: 2px;
}
.hero-container img {
	width: 60px;
	background-color: #C8DDF8;
}
.hero-container-off {
	opacity: 50%;
}
.random-hover {
	outline: 6px solid #ED6516;
	z-index: 1;
}
.hover-add.hero-container-off {
	opacity: 75%;
}
.hover-remove:not(.hero-container-off) {
	opacity: 75%;
}

button {
	font-family: 'Overwatch', sans-serif;
	font-size: 28pt;
	font-style: italic;
	color: Black;
	
	margin: 0 auto;
	
	width: 260px;
	height: 60px;
	background-color: White;
	border: 0;
	border-radius: 4px;
	
	transition: 0.2s;
	box-shadow: 0px 0px 0px black;
}
button:hover {
	letter-spacing: 2px;
	cursor: pointer;
	color: #333;
	box-shadow: 0px 0px 12px black;
	transform: scale(1.1, 1.1);
	z-index: 1;
}
#add-all, #random-all-roles, #remove-all {
	margin: 0 20px;
}
.small-button {
	width: 240px;
	height: 50px;
	font-size: 24pt;
}
.small-button:hover {
	transform: scale(1.2, 1.2);
}
#add-all {
	border: 3px solid #3AE83F;
}
#remove-all {
	border: 3px solid #E80D0D;
}
#add-all:hover {
	background-color: #3AE83F;
	color: white;
}
#remove-all:hover {
	background-color: #E80D0D;
	color: white;
}

#reveal-zone {
	position: fixed;
	margin: 0;
	inset: 0;
	background-color: #0000007F;
	backdrop-filter: blur(4px);
	display: flex;
	z-index: 2;
}
#reveal-zone div {
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.45s;
}
#reveal-zone img {
	border: 3px solid White;
	border-radius: 3px;
}
#reveal-zone h2 {
	text-align: center;

}
#keep, #remove {
	cursor: pointer;
	user-select: none;
}
#keep:hover {
	background-color: #3AE83F67;
	
}
#remove:hover {
	background-color: #E80D0D67;
}

hr {
	background-color: white;
	height: 1px;
	width: 100%;
}

.hidden {
	display: none !important;
}