body {
	background: linear-gradient(#1D4068 0%, #525F6D 45%, #525F6D 55%, #112F51 100%);
	background-repeat: no-repeat;
	background-color: #112F51;
	
	font-family: 'Overwatch', sans-serif;
	font-size: 2vw;
	font-style: italic;
	
	color: White;
	
	text-align: center;
	
    margin: 20px;
	
	-webkit-tap-highlight-color: transparent;
}

p, h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 0;
}
h1 {
	font-family: Bank-Sans, sans-serif;
	font-style: normal;
	font-size: 1.5em;
	margin-bottom: 12px;
}

#container {
	margin: auto;
	display: flex;
}
#container h2 {
	background-color: #ED6516;
	border-radius: 4px;
	font-size: 1.5em;
}
.category {
	margin: 4px;
	flex: 1;
}
.category h2 {
	user-select: none;
	margin-bottom: 10px;
}
.hero-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.hero-container {
	margin: 2px;
	width: fit-content;
	background-color: white;
	padding: 0.12em;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
	box-shadow: 0px 0px 4px black;
	transition: transform 0.1s, opacity 0.1s;
	font-size: 1em;
}
.hero-container:hover:not(.no-hover) {
	transform: scale(1.1, 1.1);
	z-index: 1;
	opacity: 50%;
}
.hero-container:focus-visible {
	outline: 2px solid #ED6516;
}
.hero-container h3 {
	color: Black;
	font-size: 0.83em;
	font-weight: normal;
	padding: 0.06em;
}
.hero-container img {
	width: 1.875em;
	background-color: #C8DDF8;
}
.hero-container-off {
	opacity: 50%;
}
.hero-container-off:hover:not(.no-hover) {
	opacity: 100%;
}
.random-hover {
	outline: 6px solid #ED6516;
	z-index: 1;
}
.hover-add.hero-container-off {
	opacity: 80%;
}
.hover-remove:not(.hero-container-off) {
	opacity: 70%;
}

button {
	font-family: 'Overwatch', sans-serif;
	font-size: 1.16em;
	font-style: italic;
	color: Black;
	
	margin: 0 auto;
	
	padding: 0.2em 1.5em;
	background-color: White;
	border: 0;
	border-radius: 4px;
	
	transition: 0.2s;
	box-shadow: 0px 0px 0px black;
}
button:hover {
	cursor: pointer;
	color: #333;
	box-shadow: 0px 0px 12px black;
	transform: scale(1.2, 1.2);
	z-index: 1;
}
#add-all, #random-all-roles, #remove-all {
	margin: 0.4em;
}
.small-button {
	width: 8em;
	padding: 0.14em 1em;
	font-size: 1em;
}
.small-button:hover {
	transform: scale(1.15, 1.15);
}
#add-all {
	border: 3px solid #3AE83F;
}
#remove-all {
	border: 3px solid #E80D0D;
}
#add-all:hover {
	background-color: #3AE83F;
	color: white;
}
#remove-all:hover {
	background-color: #E80D0D;
	color: white;
}

#reveal-zone {
	position: fixed;
	margin: 0;
	inset: 0;
	background-color: #0000007F;
	backdrop-filter: blur(4px);
	display: flex;
	z-index: 2;
}
#reveal-zone div {
	width: 100%;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.45s;
}
#reveal-zone img {
	border: 3px solid White;
	border-radius: 3px;
	width: 8em;
}
#reveal-zone h2 {
	text-align: center;

}
#keep, #remove {
	cursor: pointer;
	user-select: none;
}
#keep:hover {
	background-color: #3AE83F67;
	
}
#remove:hover {
	background-color: #E80D0D67;
}

hr {
	background-color: white;
	height: 1px;
	width: 100%;
}

.hidden {
	display: none !important;
}

.category-toggle {
	position: relative;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin: 2px auto;
	
	background-color: #1D253A;
	border: 1px solid #A1A2A5;
	border-radius: 2px;
	
	transition: transform 0.05s, background-color 0.05s;
}
.category-toggle * {
	display: block;
	position: absolute;
	inset: 0;
}
.category-toggle input {
	appearance: none;
	margin: 0;
	cursor: pointer;
}
.category-toggle .checkmark {
	pointer-events: none;
	display: none;
	left: -0.25em;
	top: -0.21em;
	font-size: 0.67em;
	font-weight: bold;
	color: #1DEFEF;
}
.category-toggle input:checked ~ .checkmark {
	display: block;
}
.category-toggle div {
	pointer-events: none;
}
.category-toggle:has(input:hover) {
	background-color: #084747;
	border: 1px solid white;
	transform: scale(1.15);
}
.category-toggle input:checked ~ .category-toggle-button {
	background-color: #47FFBF;
	transform: translateX(20.086px);
}

@media (max-aspect-ratio: 1.2) {
	body {
		font-size: 6vw;
	}
	#container {
		flex-direction: column;
	}
}